# fastapi
# uvicorn[standard]
# pydantic
# python-multipart
# PyMuPDF
# tiktoken
# python-dotenv
# sentence-transformers
# groq
# sentence-transformers
# torch

# # psycopg2-binary
# # sqlalchemy
# # pgvector

fastapi
uvicorn[standard]
pydantic
python-multipart
PyMuPDF
tiktoken
python-dotenv
sentence-transformers
groq
sqlalchemy
psycopg2-binary
pgvector