NODE_ENV=development

PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=documind
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=15m

AI_SERVICE_URL=http://localhost:8000