NODE_ENV=development

PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=documind
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

JWT_SECRET=d91fea4c519940aa4fe0dca3b22e1e9842815b07095e781a3a255ba54c5fe722
JWT_EXPIRES_IN=15m

# AI_SERVICE_URL=http://localhost:8000
AI_SERVICE_URL=http://ai-service:8000